<!DOCTYPE html>
<html>
<head>
  <title>RUMTestRubyApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> Taste Spiced Rum </h1>

<%= render 'layouts/header_testcase_3'%>

<%= yield %>

<%= render 'layouts/footer_testcase_3'%>

</body>
</html>
